{{ define "main" }}

<!--  {{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title) }} 
 -->
<!--  {{ partial "4-up" .Params.intro }} 
 -->

<!--  {{ with .Params.main }} -->
<div class="mw8 center">
  <div class="mw6 ph3 mb3 center pv2 ">
    <h3 class="f3 b tc lh-title mb2 ">{{ .heading }}</h3>
    <p class="mb3">{{ .description }}</p>
  </div>
</div>
<div class="ph3 bg-off-white">
	<div class="center mw6 pv3">

<!-- Image grid -->
<!--  {{ partial "image-grid" . }} -->
<!-- {{ end }} -->

<!-- <div class="pb4"> -->
<!--   {{ range .Params.testimonials }} -->
<!--     {{ partial "blockquote" . }} -->
<!--   {{ end }} -->
<!-- </div> -->

<!-- Full-width image -->
<!--    <img src="{{ .Params.full_image }}" alt="" class="db w-100"> -->

<!-- {{ partial "table" .Params.pricing }} -->
 
{{ end }}
